<div class="cves-os" role="tablist" aria-label="Operating system">
  @for (opt of options; track opt.id) {
    <button
      type="button"
      role="tab"
      [class.is-active]="os() === opt.id && !opt.soon"
      [class.is-detected]="os() === opt.id && opt.soon"
      [class.is-soon]="!!opt.soon"
      [disabled]="!!opt.soon"
      [title]="opt.soon ? 'Coming soon' : opt.label"
      (click)="select(opt.id, opt.soon)"
    >
      {{ opt.label }}
      @if (opt.soon) {
        <span>soon</span>
      }
    </button>
  }
</div>
